* {
  padding: 0;
  margin: 0;
}
body{
    margin: 0;
    padding: 0;
}

header{
    background-image: url("../image/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

.intro {
  color: #fff;
  font-weight: bolder;
  padding: 1rem 0.5rem;
}

img {
 height: 70px;
}

ul {
  display: none;
}

.image h3 {
  color: blue;
  padding-bottom: 0.6rem;
}

.image h1 {
  padding-bottom: 0.6rem;
}

.montana {
  background-image: url("../image/image3.jpg");
}

.kaka {
  display: flex;
}

.kaka h1 {
  color: aqua;
}

.ederson {
  background-color: gray;
}

.hero {
  background-color: lightskyblue;
  width: 200px;
  /*margin-left: 60px;*/
}

.epl {
  background-color: lightskyblue;
  width: 200px;
  /*margin: 60px;*/
}

.savio {
  background-color: lightskyblue;
  width: 200px;
  /*margin: 60px;*/
}

.hh {
  background-color: lightskyblue;
  width: 200px;
  margin: 60px;
}

.ff {
  background-color: lightskyblue;
  width: 200px;
  margin: 60px;
  text-align: center;
}

.ss {
  background-color: lightskyblue;
  width: 200px;
  margin: 60px;
  text-align: center;
}

.jamal {
  background-color: lightskyblue;
  width: 200px;
  margin: 60px;
  text-align: center;
}

.yamal {
  background-color: lightskyblue;
  width: 200px;
  margin: 60px;
  text-align: center;
}

.clex {
  background-image: url(../image/image52.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.roddy {
  background-color: lightskyblue;
  width: 200px;
  margin-left: 60px;
}

.eminem h1 {
  text-align: center;
}

.rich {
  background-color: lightskyblue;
  width: 200px;
  margin-left: 60px;
}

.durkio {
  background-color: lightskyblue;
  width: 200px;
  margin-left: 60px;
  text-align: center;
}

.wave h5 {
  text-align: center;
}

.wave h1 {
  text-align: center;
}

.wayne p {
  text-align: center;
}

.rod h2 {
  text-align: center;
}

.rod h5 {
  text-align: center;
}

.rod p {
  text-align: center;
}

.eminem img {
  margin-bottom: 10px;
  padding-top: 40px;
}

.yb p {
  text-align: center;
}

.walker {
  background-color: white;
  padding: 2rem 2.5rem;
}

.father {
  background-color: white;
}

.ederson {
  background-color: white;
}

.footer {
  background-color: gray;
  padding: 20px;
  margin: 10px;
}

.min {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.jj {
  display: flex;
}

.hero {
  text-align: center;
}

.robot {
  display: block;
  gap: 1em;
}

.bella {
  background-color: lightsteelblue;
  width: 200px;
  margin: 60px;
}


.gg {
  display: flex;
}

.image img {
  height: 200px;
  width: 300px;
}

.refe img {
  width: 100%;
}

.jesus {
  background-color: grey;
  padding: 2rem 2.5rem;

}

.tony {
  background-color: blanchedalmond;
}

.robot {
  background-color: beige;
  padding: 2rem 2.5rem;
}

.players {
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 4px 2px #7f7e7e;

  img {
    width: 50%;
    border-radius: 10px;
  }
}

.walker {
  background-color: cadetblue;
}

footer {
  background-color: brown;

  img {
    width: 100px;
  }
}

button {
  background-color: transparent;
  color: #000;
  font-weight: bold;
  margin: 0.5rem;
  border-radius: 5%;
  border: 1px solid #fff;
  padding: 0.5rem;
}

.work {
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 4px 2px #7f7e7e;
}

.tatah {
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 4px 2px #7f7e7e;
}

.buri{
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 4px 2px #7f7e7e;
}

.water {
  padding: 2rem 2.5rem;
}